@model IEnumerable<OrderDetailsModel>

@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}
<h3>List Order Details</h3>

    

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center" scope="col">Id</th>
            <th class="text-center" scope="col">Mã đơn hàng</th>
            <th class="text-center" scope="col">Người đặt</th>
            <th class="text-center" scope="col">Tên sản phẩm</th>
            <th class="text-center" scope="col">Giá</th>
            <th class="text-center" scope="col">Số lượng</th>
            <th class="text-center" scope="col">Tổng tiền</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
             
            <tr class="text-center">
                
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />

                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>
               
            </tr>
        }
        <tr>
            <th colspan="6">Total :</th>
            <td>@total.ToString("C")</td>
            <td>
                <select class="form-control select-update-order">
                    <option value="1">Đơn hàng mới</option>
                    <option value="0">Đã xử lý</option>
                </select>
            </td>
        </tr>
        <a href="@Url.Action("Index", "Order", new { area = "Admin" })" class="btn btn-primary">Trở về danh sách đơn hàng</a>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            console.log("Update successfully!");
                            Swal.fire("Cập nhật đơn hàng thành công!");
                        } else {
                            Swal.fire("Cập nhật đơn hàng thất bại!" + result.message);
                        }
                    },
                    error: function (req, status, error) {
                        console.error("Error updating order: " + error);
                        Swal.fire("Có lỗi xảy ra khi cập nhật đơn hàng.");
                    }
                });
            });
        });

    </script>
}
