<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_SidebarPartial")
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="~/media/products/@Model.Image" alt="" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <h2>@Model.Name</h2>
                    <span>
                        <span>$@Model.Price.ToString("#,##0 VNĐ")</span>
                        <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@Model.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </span>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Thương hiệu:</b> @Model.Brand.Name</p>
                    <p><b>Danh mục:</b> @Model.Category.Name</p>
                    <a href=""><img src="~/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                </div>
            </div>
        </div>

        <div class="category-tab shop-details-tab">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="reviews">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href=""><i class="fa fa-user"></i>@User.Identity.Name</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>@DateTime.Now.ToString("hh:mm tt")</a></li>
                            <li><a href=""><i class="fa fa-calendar-o"></i>@DateTime.Now.ToString("dd/MM/yyyy")</a></li>
                        </ul>
                        <form action="#">
                            <div>@Model.Description</div>
                            <textarea name="" readonly>@Model.Brand.Description</textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended_items">
            <h2 class="title text-center">Recommended Product</h2>

            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @if (ViewBag.RelatedProducts != null && ((IEnumerable<ProductModel>)ViewBag.RelatedProducts).Any())
                    {
                        <div class="item active">
                            @foreach (var relatedProduct in (IEnumerable<ProductModel>)ViewBag.RelatedProducts)
                            {
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a asp-action="Details" asp-controller="Product" asp-route-Id="@relatedProduct.Id">
                                                    <img src="~/media/products/@relatedProduct.Image" width="60px" alt="@relatedProduct.Name" />
                                                    <h2>@relatedProduct.Price.ToString("#,#00 VNĐ")</h2>
                                                    <p>@relatedProduct.Name</p>
                                                    <p>Danh mục : @relatedProduct.Category.Name</p>
                                                    <p>Thương hiệu : @relatedProduct.Brand.Name</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p>No Data Product Recomment.</p>
                        </div>
                    }
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
