@model IEnumerable<ProductModel>
<div class="col-sm-3">
    @Html.Partial("_SidebarPartial")
</div>
<style>
    .product-image-wrapper img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }
</style>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <h2 class="title text-center">Features Items</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">

                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                <img src="~/media/products/@item.Image" width="60px" alt="@item.Name" />

                                <h2>@item.Price.ToString("#,#00 VNĐ")</h2>
                                <p>@item.Name</p>
                                <p>Danh mục : @item.Category.Name</p>
                                <p>Thương hiệu : @item.Brand.Name</p>
                            </a>
                            @* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
                            <button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result) {
                            Swal.fire("Thêm giỏ hàng thành công!");
                        }
                    },
                    error: function (req, status, error) {
                        console.error("Error adding to cart: " + error);
                        Swal.fire("Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.");
                    }
                });
            });
        });
    </script>
}
